<!-- -->

<!DOCTYPE html>
<html ng-app="myApp">
<head>

	<meta charset="UTF-8">
	<title>Background</title>
	<base href="/" />
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css"></link>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

	<script src="js/controllers.js" type="text/javascript" ></script>
	
</head>


<body>
	<div class="background">
		<h1>Background</h1>
		<p>In this survey, you will analyze fifteen submissions to the subreddit www.reddit.com/r/PhotoshopRequest, a community where users approach artists with image-editing requests.  Each submission contains an image and some text describing how a requester would like for the image to be edited.</p>

		<img id="redditExampleAll" src="public/images/post_example.png">

		<p>Please complete the following three tasks for each request:</p>
		<ol>
			<li>Indicate Request Validity
			<li>Select Request
			<li>Correct Request
		</ol>
		<br>
		<br>
		<br>
		<input style="width: 12em; height: 2.5em; font-size: 15px; margin-left: auto" type="button" onclick="location.href='/instructions'" value="Next" />

	</div>

</body>
</html>

	
